In [11]:
import sys
import pandas as pd
sys.path.append('./..')
sys.path.append('./../code')
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [12]:
# Load data
df_country_gdp = pd.read_csv('./../data/country_gdp_data.csv',index_col=0)

In [13]:
# Drop columns and fix index
df_country_gdp=df_country_gdp.reset_index().drop(columns=['Series Name','Series Code','Country Code']).rename(columns={'Country Name':'country'}).set_index('country')
df_country_gdp

,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
country,,,,,,,,,,,,
Afghanistan,..,..,19907317065.6666,20146404996.223,20497126770.1335,19134211763.859,18116562464.9088,18753469630.2586,18053228578.8878,18799450742.7823,20116137325.8206,..
Albania,2028553750,3480355258.04122,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15400242874.8812,14887629268.2927,..
Algeria,62048562947.2509,54790392746.1939,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,..
American Samoa,..,..,640000000,638000000,643000000,673000000,671000000,612000000,639000000,648000000,709000000,..
Andorra,1029048481.88051,1429049198.45218,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Rename stupid year columns
renamed_year_columns = [int(col[:4]) for col in df_country_gdp.columns]
df_country_gdp.columns=renamed_year_columns
df_country_gdp

,1990,2000,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
country,,,,,,,,,,,,
Afghanistan,..,..,19907317065.6666,20146404996.223,20497126770.1335,19134211763.859,18116562464.9088,18753469630.2586,18053228578.8878,18799450742.7823,20116137325.8206,..
Albania,2028553750,3480355258.04122,12319830437.3467,12776220507.0162,13228147516.1168,11386850129.8411,11861199830.8396,13019689336.6919,15156432309.8977,15400242874.8812,14887629268.2927,..
Algeria,62048562947.2509,54790392746.1939,209058991952.125,209755003250.664,213810024944.464,165979279263.174,160034163871.455,170097014589.134,174910878623.049,171767403748.19,145009181490.62,..
American Samoa,..,..,640000000,638000000,643000000,673000000,671000000,612000000,639000000,648000000,709000000,..
Andorra,1029048481.88051,1429049198.45218,3188808942.56713,3193704343.20627,3271808157.30038,2789870187.50693,2896679211.86628,3000180750.11297,3218316013.22626,3155065487.51819,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop rows that don't correspond to a country
is_country_mask=[row for row in df_country_gdp.index if not pd.isnull(row)]
df_country_gdp=df_country_gdp.loc[is_country_mask]
df_country_gdp

In [ ]:
# df_country_gdp.to_csv('./../data/country_gdp_data.csv')